* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

//------atomic------//
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.bg-white {
    background: #fff;
}

.bg-black {
    background: #000;
}